
/* -------------------------------------- */
/* ############### FOOTER ############### */
/* -------------------------------------- */

.slim-footer {
  border-top: 1px solid $gray-400;
  background-color: #fff;
  margin-top: 30px;
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  width: 100%;

  @include media-breakpoint-up(lg) {
    margin-top: 30px;
    padding: 0;
  }

  .container,
  .container-fluid {
    font-size: 13px;
    text-align: center;

    @include media-breakpoint-up(md) {
      height: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    p {
      margin-bottom: 0;
      &:last-child {
        margin-top: 5px;
      }
    }
  }

  .container-fluid {
    @include media-breakpoint-up(lg) {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}
